/* Mobile và tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px ;
        --navbar-height: 0px ;        
    }
    a{
        -webkit-tap-highlight-color: transparent;
    }
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        
    }
    .grid-wide{
      position: fixed;
      top: 0;
      
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .header__cart-list {       
        position: fixed;
        top: var(--header-height) ;
        right: 0;        
        width: 100%;       
        padding: 0 calc((100% - 644px)/2) ;
    }
    .header__cart-list::before {
        display: none;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__sort-bar{
        display: flex;
    }
    .app__content {
        margin: 0 4px;
        padding-top: 0;
    }
    .mobile-category {
        display: block;
    }
    
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
     
    .hide-on-tablet{
        display: none;
    }

    .header__cart {
        width: 80px;
        justify-content: flex-end;
    }
}

/* Moblie */
@media (max-width: 739px) {
     
    .hide-on-mobile{
        display: none;
    }
    .header-with-search{
        justify-content: space-between;
    }
    .header__cart{
        margin: 12px;
    }
    .header__cart,
    .header__logo{
        width: unset;
    }

    .header__search{
        position: fixed;
        top : var(--header-height) ;
        right: 0;
        left: 0;
        height: 46px ;
        box-shadow: 0 1px 2px rgba(0,0,0, 0.05);
        padding: 0 12px;
        z-index: 1;
        animation: fadein 0.2s linear ;
        display: none;
    }

    .header__search-checkbox:checked ~ .header__search{
        display: flex;
    }
    
    .header__search-history{
        position: fixed;
        padding: 0 16px;
        width: 100%;
        left: 0;
        top: calc(var(--header-height) + var(--header-sort-bar-height) );
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    }
    .header__search-options{
        width: 120px;
    }
    .header__search-options-item span {
        font-size: 1.2rem;
    }
    .header__mobile-bars-icon,
    .header__mobile-sreach-icon{
        display: block;
        
    }
    .nav__mobile{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 200px ;
        max-width: 100%;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        display: block;
        transition: transform linear 0.3s ;
    }
    .nav__mobile-list{
        list-style: none;
        padding-left: 10px;
        margin-top: 40px;
    }

    .nav__mobile-link{
       text-decoration: none;
       display: block;
       font-size:1.4rem ;
       padding: 8px ; 
    }

    .nav__overplay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.3);
        z-index: 2;
        animation: fadeout linear 0.3s;
        display: none;
    }



    .nav__mobile-close{
        font-size: 3rem ;
        position: absolute;
        color: #666;
        right: 1rem;
        top: 1rem;
    }

    .mobile-bars-input:checked ~ .nav__overplay{
        display: block;
        animation: fadein linear 0.3s;
    }
    .mobile-bars-input:checked ~ .nav__mobile{
        
        transform: translateX(0);
        transition: transform linear 0.3s ;
    }

    .pagination-item{
        margin: 0 ;
    }
    .pagination-item__link{
        font-size: 1.3rem;    
        min-width: 32px;
    }
    .policy-heading{
        display:none;
    }
    .policy-company-info {
        padding: 20px 10px 40px;
    }
    .policy-company-info span{
        line-height: 2.2rem;
    }
    .footer-content{
        padding: 0 10px ;
    }
    
}