<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="https://img.icons8.com/color/480/shopee.png"
	type="image/gif" sizes="16x16">
	<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css}">
<link rel="stylesheet" th:href="@{/css/cart.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/gird.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
<link rel="stylesheet" th:href="@{/css/basecart.css}">

<title>Giỏ Hàng</title>
</head>

<body>
	<!-- header begin -->
	<header class="header">
		<div class="grid-wide" th:replace="header.html :: header-section"></div>
		<!-- header end -->
	</header>
	<div class="main">
		
	</div>

	<div class="container bg-gray container--have-products">
		<div class="have-products">
			<div class="grid">
				<div class="shipping-alert mt-20">
					<div class="grid__row">
						<img src="free.png" alt=""> <span class="shipping-text"
							style="margin-top: 10px;">Nhấn vào mục Mã giảm giá ở cuối
							trang để hưởng miễn phí vận chuyển bạn nhé!</span>
					</div>
				</div>
			</div>

			<div class="grid">
				<div class="cart-title mt-20">
					<div class="grid__row">
						<div class="grid__column-5">
							<span class="cart-text1">Sản Phẩm</span>
						</div>
						<div class="grid__column-5">
							<span class="cart-text">Đơn Giá</span> <span class="cart-text">Số
								Lượng</span> <span class="cart-text">Số Tiền</span> <span
								class="cart-text">Thao Tác</span>
						</div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="cart-shop mt-20">
					<div class="grid__row">
						<div class="website-link">
							<img src="mall.png" alt=""> <span class="shop-link">sachthamkhao.com.vn</span>
							<span class="contain-icon2"> <svg viewBox="0 0 16 16"
									class="shopee-svg-icon _2KYoW7 ">
                                    <g fill-rule="evenodd">
                                        <path
										d="M15 4a1 1 0 01.993.883L16 5v9.932a.5.5 0 01-.82.385l-2.061-1.718-8.199.001a1 1 0 01-.98-.8l-.016-.117-.108-1.284 8.058.001a2 2 0 001.976-1.692l.018-.155L14.293 4H15zm-2.48-4a1 1 0 011 1l-.003.077-.646 8.4a1 1 0 01-.997.923l-8.994-.001-2.06 1.718a.5.5 0 01-.233.108l-.087.007a.5.5 0 01-.492-.41L0 11.732V1a1 1 0 011-1h11.52zM3.646 4.246a.5.5 0 000 .708c.305.304.694.526 1.146.682A4.936 4.936 0 006.4 5.9c.464 0 1.02-.062 1.608-.264.452-.156.841-.378 1.146-.682a.5.5 0 10-.708-.708c-.185.186-.445.335-.764.444a4.004 4.004 0 01-2.564 0c-.319-.11-.579-.258-.764-.444a.5.5 0 00-.708 0z">
                                        </path>
                                    </g>
                                </svg>
							</span>
						</div>
					</div>
				</div>
				<div class="root">
					<div class="cart-buy" th:each="c : ${cart}">
						<div class="cart-buy__products" th:each="ci : ${c.cartIteams}">
							<div class="grid__row">
								<div class="grid__column-5">
									<div class="products-contain">
										<div class="product-contain__img"
											th:style="'background-image: url('+@{'/download?image='+${ci.productEntity.img}}+')'">
										</div>
										<div class="product-contain__text">
											<div class="text-title" th:text="${ci.productEntity.name}"></div>

											<div class="text-title1">
												<img class="icon-sell"
													src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/cart/91167e001db60b62d4f85c3e0ea919b6.png"
													alt=""> 7 Ngày Miễn Phí Trả Hàng
											</div>
										</div>
									</div>
								</div>


								<div class="grid__colum-5" style="margin-top: 3% ;">
									<div class="container-title">
										<div class="products-contain1">
											<div class="price-new"
												th:text="${ci.productEntity.price}+đ"></div>
										</div>
										<form class="product-quatity__adjust" style="margin: 0;"
											th:action="@{/cart/updatecartitem}" th:object="${cartitem}"
											method="post">
											<input th:name="id" th:value="${ci.id}" hidden="true">
											<input th:name="cart.id" th:value="${ci.cart.id}"
												hidden="true"> <input th:name="productEntity.id"
												th:value="${ci.productEntity.id}" hidden="true"> <input
												style="background-color: white; cursor: pointer; height: 25px; border: 1px rgb(160, 158, 158) solid;border-top-left-radius: 3px 3px;border-bottom-left-radius: 3px 3px;"
												th:onclick="'var result = document.getElementById('+${ci.id}+'); var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return true'"
												type="submit" value='-' /> <input
												style="background-color: white; width: 40px; height: 25px; border: 1px rgb(160, 158, 158) solid; text-align: center;"
												th:id="${ci.id}" min='1' th:name="quantity" type='text'
												th:value="${ci.quantity}" /> <input
												style="background-color: white; cursor: pointer; height: 25px; border: 1px rgb(160, 158, 158) solid;border-top-right-radius: 3px 3px;border-bottom-right-radius: 3px 3px;"
												th:onclick="'var result = document.getElementById('+${ci.id}+'); var qty = result.value; if( !isNaN(qty)) result.value++;return true;'"
												type="submit" value='+' />
										</form>
										<div class="products-contain1" style="margin-left: 60px;">
											<div class="price"
												th:text="${ci.quantity * (ci.productEntity.price)}+'đ'"></div>
										</div>

										<div class="products-contain1">
											<a style="text-decoration: none;" class="delete" th:href="@{'/cart/delete?id='+${ci.id}}">Xóa</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pay-products" th:each="c : ${cart}">
					<span class="pay-text">Tổng thanh toán (<span
						class="quality-js" th:text="${totalitem}"></span> Sản phẩm)
					</span> <span class="pay-price"><span class="pay-price--js"
						th:text="${totalprice1}"></span>đ</span>
					<form th:action="@{/cart/payup}" th:object="${cart}" method="post">

						<input th:name="id" th:value="${c.id}" hidden="true"> <input
							th:name="userEntity.id" th:value="${c.userEntity.id}"
							hidden="true"> <input th:name="payup" value="true"
							hidden="true"> <input th:name="totalprice" th:value="${totalprice1}"
							hidden="true">
						<button class="pay-btn" type="submit">Mua Hàng</button>
					</form>
				</div>

			</div>
		</div>

		<div class="no-products mt-20">
			<div class="img-no-product"
				style="background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/cart/9bdd8040b334d31946f49e36beaf32db.png);"></div>
			<div class="title-no-product">Giỏ hàng của bạn còn trống</div>
			<a href="./index.html" class="pay-btn center">Mua ngay</a>
		</div>
	</div>
	<footer class="footer" th:replace="footer.html :: footer"></footer>


</body>

</html>