<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vmart</title>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/history.css}">
	<link rel="stylesheet"
		th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<script src="index.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/gird.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
</head>
<script>

</script>

<body>
	<div class="app">
		<header class="header">
			<div class="grid-wide" th:replace="header.html :: header-section"></div>
			<!-- header end -->
		</header>
		<!-- user infomation-->
		<div class="container mt-4 ">
			<div class="row g-0">
				<!-- list -->
				<div class="col-3">
					<div class="p-3 ">
						<div class="col-12  mb-4">
							<div class="row g-0">
								<!-- avatar -->
								<div class="col-4">
									<img th:src="@{/img/pngtree-shopping-cart-image_2228246.jpg}" style="width: 100%;" class="rounded-circle"
										alt="...">
								</div>
								<div class="col-8 ">
									<div class="row g-0 mt-3  ">
										<p class="col-12 mb-0 ms-3">Lịch sử mua hàng</p>
									</div>
								</div>
								<!-- name -->
								<div class="col-8 ">
									<div class="row g-0 mt-3  ">
										<p class="col-12 mb-0 ms-3"></p>
									</div>
								</div>
								<!-- end name -->
							</div>
						</div>
					</div>
				</div>
				<!-- end list -->
				<!-- history -->
				<div class="col-9 mt-3">
					<div class="row g-0 mb-3" th:each="c : ${carthistory}">
						<div class="col-12 border mb-3" style="background-color: rgb(214, 214, 214);">
							<div class="input-group m-0">
								<span class="input-group-text "
									style="border: none; background-color: rgb(214, 214, 214);"><i
										class="fa fa-search"></i></span> <input type="text" class="form-control"
									style="border: none; background-color: rgb(214, 214, 214);"
									placeholder="Tìm kiếm sản phẩm hoặc tên shop" aria-label="Username"
									aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="col-12 bg-light "
							style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
							<div class="row g-0">
								<!-- sản phẩm -->
								<div class="col-12 mt-3">
									<div class="row g-0">
										<div class="col-11  mt-4 border-top ms-5" th:each="ci : ${c.cartIteams}">
											<div class="row g-0 ">
												<div class="col-2 ms-3 ">
													<img th:src="@{'/download?image='+${ci.productEntity.img}}"
														style="width: 100%; margin: 5%; margin-left: 24%;" alt="">
												</div>
												<div class="col ms-5 ">
													<!-- ngày mua -->
													<a class="nav-link text-dark  mt-4 fs-5" th:text="${'Ngày thanh toán: ' + #dates.format(ci.cart.buyDate,'dd-MM-yyyy')}"></a>
													<!-- tên sp -->
													<a class=" nav-link text-dark  mt-2"
														th:text="${'Sản phẩm: ' + ci.productEntity.name}"></a>
													<!-- số lượng -->
													<a class="nav-link text-dark  mt-0"
														th:text="${'Số lượng x '+ ci.quantity}"></a>
												</div>
												<div class="col-2 mt-4">

													<a class="nav-link text-danger text-center mt-5"
														th:text="${'Tổng: '+ci.productEntity.price+'đ'}"> </a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- giá -->
						<div class="col-12 border bg-light"
							style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
							<div class="row">
								<!-- Tổng số tiền -->
								<div class="col-12  mt-4">
									<ul class="nav justify-content-end">
										<li class="nav-item"><a class="nav-link text-dark mt-1 ">Tổng
												số tiền: </a></li>
										<!-- tiền -->
										<li class="nav-item" style="margin-right: 20px;"><a
												class="nav-link text-danger fs-4 " th:text="${c.totalprice}"></a></li>

									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end  user infomation-->
		<!-- footer  -->
		<footer class="footer container-fluid" th:fragment="footer">
			<div class="grid wide footer-content container-fluid">
				<div class="row">
					<div class="col l ">
						<h3 class="footer__heading">Chăm sóc khách hàng</h3>
						<ul class="footer-list">
							<li class="footer-item"><a href="" class="footer-item__link">Trung
									tâm trợ giúp</a></li>
							<li class="footer-item"><a href="" class="footer-item__link">wibu
									shop</a></li>
							<li class="footer-item"><a href="" class="footer-item__link">Hướng
									dẫn mua hàng</a></li>
						</ul>
					</div>
					<div class="col l">
						<h3 class="footer__heading">Giới thiệu</h3>
						<ul class="footer-list">
							<li class="footer-item"><a href="" class="footer-item__link">Về
									chúng tôi</a></li>
							<li class="footer-item"><a href="" class="footer-item__link">Điều
									khoản</a></li>
							<li class="footer-item"><a href="" class="footer-item__link">Tuyển
									dụng</a></li>
						</ul>
					</div>
					<div class="col l">
						<h3 class="footer__heading">Danh mục</h3>
						<ul class="footer-list">
							<li class="footer-item" th:each="c : ${category}"><a href="" class="footer-item__link"
									th:text="${c.name}"></a></li>

						</ul>
					</div>
					<div class="col l">
						<h3 class="footer__heading">Theo dõi</h3>
						<ul class="footer-list">
							<li class="footer-item"><a href="" class="footer-item__link">
									<i class=" footer-item__icon fab fa-facebook-square"></i>
									Facebook
								</a></li>
							<li class="footer-item"><a href="" class="footer-item__link">
									<i class=" footer-item__icon fab fa-instagram-square"></i>
									Instagram
								</a></li>
							<li class="footer-item"><a href="" class="footer-item__link">
									<i class=" footer-item__icon fab fa-linkedin"></i> LinkedIn
								</a></li>
						</ul>
					</div>
					<div class="col l">
						<h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
						<div class="footer__download">
							<img th:src="@{/img/QRcode.png}" alt="Download QR" class="footer__download-qr">
						</div>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="grid wide">
					<div class="row">
						<div class="footer__bottom-policy">
							<div class="policy-heading">
								<div class="policy-heading-section">Chính sách bảo mật</div>
								<div class="policy-heading-section">Quy chế hoạt động</div>
								<div class="policy-heading-section">Chính sách vận chuyển</div>
								<div class="policy-heading-section">Chính sách trả hàng và
									hoàn tiền</div>
							</div>
							<img th:src="@{/img/policy.png}" alt="" class="policy-policy-public-img">
							<div class="policy-company-name">
								<span>Công ty Suntech</span>
							</div>
							<div class="policy-company-info">
								<span>Địa chỉ: 175 Tây sơn, Trung Liệt , Đống Đa , Hà Nội</span> <span>Mã
									số doanh nghiệp: 1928918298194 do sở Kế hoạch & Đầu tư Trường Đại
									Học Thủy Lợi cấp ngày 22/5/2022</span> <span>© 2022 - Bản quyền
									thuộc về công ty Wibu</span>
							</div>

						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--end footer  -->
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/925bc4635d.js" crossorigin="anonymous"></script>
</body>

</html>